.card-header{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.card-body{
    border-radius: 20px;
    margin-top: 3rem;
    height: 350px;
    width: 350px;
    background-color: #d9d6d6;
}

.container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}