.card-header{
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}
.card-body{
    border-radius: 20px;
    margin-top: 10px;
    height: 350px;
    width: 350px;
    background-color: #d9d6d6;
}
.container{
    width:800px;
    display: flex;
    justify-content: center;
    align-items: center;
}