
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,400&display=swap');

body{
    font-family: 'Kanit', sans-serif , 'Open Sans', sans-serif, 'Roboto', sans-serif;
}
#div-imagenes-de-juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imagen-de-espera{
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#lista-previa-inicio-partida{
    padding: 10px;
    text-align: center;
}
.lista-espera{
    padding: 10px;
    list-style: none;
    color: white;
    font-size: 20px;
}
#header-espera{
    color: white;
    margin-top: 20px;
}
#divImagen{
    color: white;
    border: solid 1px white ;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
}

:root{
    --width : 350px;
    --padding: 10px;
    --bgcolor: #0275d8;
    --hovercolor: rgb(4, 33, 124);
    --width-collapsed: 49px;
}

#body-container{
    font-family: 'Kanit', sans-serif , 'Open Sans', sans-serif, 'Roboto', sans-serif;
    font-size: 25px;
    padding: 0;
    margin: 0 0 0 var(--width-collapsed);
}
.body-expanded{
     margin-left: var(--width);
}

#main-container{
    color: white;
}
#side-menu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
#side-menu a{
    color: white;
    text-decoration: none;
}
#side-menu #header{
    box-sizing: border-box;
    border-bottom: solid 1px white;
}
#side-menu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#side-menu #header #title, #side-menu #header #menu-btn{
    vertical-align: middle;
}

#side-menu #header #menu-btn{
    display: inline-block;
}

#side-menu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}
#side-menu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}
#side-menu #header #menu-btn .btn-hamburguer{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#side-menu #profile{
    border-bottom: solid 1px white;
    padding: var(--padding) 0;
    text-align: center;
}
#side-menu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#side-menu #profile #photo img{
    border-radius: 50%;
    width: 80%;

}
#side-menu #profile #photo, #side-menu #profile #name{
    font-size: 30px;
    padding: var(--padding) 0;
    overflow: hidden;
}
#side-menu #menu-items{
    overflow: hidden;
}
#side-menu #menu-items .item{
    width: var(--width);
}
#side-menu #menu-items .item .icon{
    display: inline-block;
}

#side-menu #menu-items .item .icon,
#side-menu #menu-items .item .title{
    font-size: 18px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
#side-menu #menu-items .item a{
    display: block;
}

#side-menu #menu-items .item a:hover{
    background-color: var(--hovercolor);
}
#side-menu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}
#side-menu #menu-items .item .icon img{
    width: 100%;
}
#side-menu #menu-items .item .title {
    padding: var(--padding) 0;
}

#side-menu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px white;
    margin: 15px 0;
}

.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}
.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}
.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}
.menu-collapsed{
    width: var(--width-collapsed);
}

.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed #profile #name{
    display: none;
}
.menu-collapsed .item{
    width: 100px;
}

.btn-nav{
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
}
#listar-imagenes{
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.volver{
    font-size: 25px;
    text-decoration: none;
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    padding: 3px 15px;
    margin-left: auto;
}
#div-reglas{
    border-radius: 20px;
    padding: 0;
    max-width: 1200px;
    border: solid 2px;
    color: white;
}
#div-estadisticas, .title-header{
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #0275d8;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px;
}
.tabla-estadisticas{
    border: solid 1px white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
}
.botones{
    border-radius: 10px;
}
