
header {
    box-sizing: border-box;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: solid 2px;
}

main {
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 1em;
}

li::before {
    color: white;
    content: "• ";
    /*color: #333;*/
    font-weight: bold;
    display: inline-block;
    margin-right: 0.5em;
}