{% extends 'base.html.twig' %}

{% block title %}Hello JugarController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-5">
                {% for direccion in url %}
                    <img src="{{ asset(direccion.imagenUrl) }}" style="height: 400px;width: 400px">
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2>Palabras Relacionadas</h2>
                <ul id="lista de palabras">

                </ul>
                <form id="formulario-respuesta" method="post">
                    <label for="respuesta"> Ingresar Palabras</label>
                    <input type="text" id="respuesta" name="respuesta">
                    <button type="submit"> Enviar</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="tabla-puntuaciones">
                    <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Usuario</th>
                        <th>Puntuación</th>
                    </tr>
                    </thead>
                    <tbody>
                    aquí se mostrarán las puntuaciones de los usuarios
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
