{% block body %}
    <div class="table-responsive text-center mt-4">
        <table class="table table-striped table-hover">
            <thead class="text-white" style="font-size: 22px">
            <tr>
                <td>Palabras ingresadas</td>
                <td>Resultado</td>
            </tr>
            </thead>
            <tbody>
            {% for palabras in palabrasUsuario %}
                <tr>
                    <td class="text-white" style="font-size: 20px">
                        {{ palabras.palabras_relacionadas }}
                    </td>
                    <td class="text-white">
                        {{ palabras.resultado_palabra }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}