{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">

            <a href="#" class="navbar-brand d-flex gap-2">
                <i class="bi bi-joystick"></i>
                <span>Gwap</span>
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">Estadisticas</a>
                    </li>
                    <li class="nav-item"><a href="{{ path('app_reglas') }}" class="nav-link active">Reglas</a></li>
                    <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Salir</a></li>
                </ul>
            </div>


        </div>

    </nav>
{% endblock %}
